# Ignore Drupal
site/.csslintrc
site/.editorconfig
site/.eslintignore
site/.eslintrc
site/.gitattributes
site/.htaccess
site/README.txt
site/LICENSE.txt
site/autoload.php
site/composer.json
site/composer.lock
site/core
site/example.gitignore
site/index.php
site/modules
site/profiles/README.txt
site/themes
site/robots.txt
site/sites
site/update.php
site/vendor
site/web.config

# Ignore environment files.
.idea
.DS_Store
node_modules