#navigation-toggle {
  position: absolute;
  right: 0;
  top: -5px;
  z-index: 1001;
  font-size: 1.5rem;
  cursor: pointer;
}

body.menu-open #navigation-toggle .fa:before {
  content: "\f00d";
}

#navigation-content {
  position: fixed;
  opacity: 0;
  height: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $gray-light;
  z-index: 1000;
  transition: none;
  overflow: hidden;
}

body.menu-open #navigation-content {
  transition: opacity .2s ease;
  opacity: 1;
  height: 100%;
}

#navigation-content ul {
  text-align: center;
  list-style: none;
  margin-top: 100px;
}

#navigation-content ul li {
  margin-bottom: 10px;
}