<header id="header">
  <div class="row">
    <div class="small-12 columns">
      <div class="inner">
        {{ page.header }}
      </div>
    </div>
  </div>
</header>
<section>
  <div class="row">
    <div class="small-12 columns">{{ page.content }}</div>
  </div>
</section>
<div class="row">
  <div class="small-12 columns">{{ page.footer }}</div>
</div>