header {
  z-index: 1001;
  position: fixed;
  padding: 20px 0;
  height: 67px;
  width: 100%;
  background-color: white;
  transition: background-color .1s ease;
  &.scroll {
    background-color: $gray-light;
  }
}

header .inner {
  position: relative;
}

header a {
  color: black;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: inherit;
    text-decoration: underline;
  }
}

section {
  padding-top: 80px;
}

body.menu-open section {
  opacity: 0;
  pointer-events: none;
}
